#tblpie {
	width:50%;
	height:80%;
	font-family: gotham;
}

.tdcolumna {
	padding-left:40px;font-size:22px;
}

#btn-close-modal {
	color:white
}

#spanmodalr {
	font-size:32px;cursor:pointer;margin:10px;
}

.modal {
	display: none;
}

#container {
height: 200px;
}

#contenedor_pie {

	width:100%;
	height: 325px;


}

#linkeos_contenedor {
width: 50%;
height: 100%;
float: left;
	background-color: #736E6C;
}

#divredes {
	margin-left: 10%;
	margin-top:5%;
}


.redes {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	cursor:pointer;
}

#linkeos {
	margin-left: 45%;
	margin-top: 5%;
}

#linkeos .lbllinkeos {
	font-size: 14px;
cursor:pointer;
font-family: gotham;
color:white;
}



#btnreembolso {
	float: left;
	margin-top: 15%;
	margin-left: -15%;	
	width: 20%;
	height: 10%;
	font-size: 16px;
	font-family: coco;
}

#btnreembolso:hover {
	background-color: #A2B2CF;
	text-shadow:#fff 0 0 12px;
	color: black;
}